@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(17, 218, 118);
  font-family: "Secular One", sans-serif;
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 965px;
  transition: 3s;
}

#papaDiv {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
}

#about{
  padding: 15px;
  font-style: none;
  font-size: 25px;
  color: rgb(17, 218, 118);
}

#about:hover{
  color:rgb(144, 6, 135);
}
#inName {
  margin-top: 16px;
  border: 3px solid rgb(144, 6, 135);
  background-color: rgb(48, 46, 46);
  color: rgb(17, 218, 118);
  font-size: 25px;
  font-family: "Secular One", sans-serif;
  transition: 3s;
}

#btn {
  width: 50%;
  height: 50px;
  background-color: rgb(17, 218, 118);
  margin-top: 16px;
  font-family: "Secular One", sans-serif;
  border: 5px solid rgb(144, 6, 135);
  transition: 3s;
  cursor: pointer;
}

#btn:hover {
  border: 3px solid gold;
  background-color: black;
  color: rgb(17, 218, 118);
}

#content-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
  font-size: 35px;
}

#content {
  margin-top: 50px;
}

#buttonAndInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: rgba(0, 0, 0, 0.568);
  margin-top: auto;
  text-align: center;
}

#titel {
  text-decoration: double underline rgb(144, 6, 135);
  transition: 0.5s;
}

#buttonMode {
  margin-top: 15px;
  font-size: 50px;
  transition: 0.5s;
  cursor: pointer;
}

#lampon {
  color: rgb(17, 218, 118);
}

@keyframes animate-emoji {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

#ghost {
  animation: animate-emoji 5s infinite;
  font-size: 2em;
}

.skitzad {
  scale: 0.7;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 1em;
  background-color: var(--bgColorHeadFoot);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

footer #soc-media-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#soc-media-links a img {
  max-width: 60%;
}



/* Animated gradient border around messages */

@import url('https://fonts.googleapis.com/css?family=Raleway:200');

#content h4 {
  --borderWidth: 7px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

#content h4:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#alien{
  display: none;
  height: 150px;
  position: absolute;
  top: 40px; left: 40px;
}

#notBack:hover{
  transform: scale(1.2);
}

#social-media-links a:hover {
  transform: scale(1.2);
  rotate: -4deg;
} 

#social-media-links a img:hover {
  transform: scale(1.2);
  rotate: -4deg;
}

