@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(17, 218, 118);
  font-family: "Secular One", sans-serif;
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 965px;
  transition: 3s;
}

#papaDiv {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
}

#inName {
  margin-top: 16px;
  border: 3px solid rgb(144, 6, 135);
  background-color: rgb(48, 46, 46);
  color: rgb(17, 218, 118);
  font-size: 25px;
  font-family: "Secular One", sans-serif;
  transition: 3s;
}

#btn {
  width: 50%;
  height: 50px;
  background-color: rgb(17, 218, 118);
  margin-top: 16px;
  font-family: "Secular One", sans-serif;
  border: 5px solid rgb(144, 6, 135);
  transition: 3s;
  cursor: pointer;
}

#btn:hover {
  border: 3px solid gold;
  background-color: black;
  color: rgb(17, 218, 118);
}

#content-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
  font-size: 35px;
}

#content {
  margin-top: 50px;
}

#buttonAndInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: rgba(0, 0, 0, 0.568);
  margin-top: auto;
  text-align: center;
}

#titel {
  text-decoration: double underline rgb(144, 6, 135);
  transition: 0.5s;
}

#buttonMode {
  margin-top: 15px;
  font-size: 50px;
  transition: 0.5s;
  cursor: pointer;
}

#lampon {
  color: rgb(17, 218, 118);
}


@keyframes animate-emoji {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ghost {
  animation: animate-emoji 5s infinite;
  font-size: 2em;

}

footer{
  margin-top: auto;
  width: 100%;
  height: 5rem;
  padding: 1em;
  background-color: var(--bgColorHeadFoot);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

footer #soc-media-links{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#soc-media-links a img{
  max-width: 60%;
}