@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(17, 218, 118);
  font-family: "Secular One", sans-serif;
  background-image: url(/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

#papaDiv {
  text-align: center;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.568);
}

#inName {
  margin-top: 16px;
  border: 3px solid rgb(17, 218, 118);
  background-color: rgb(48, 46, 46);
  color: rgb(17, 218, 118);
  font-size: 25px;
}

#btn {
  width: 50%;
  height: 50px;
  background-color: rgb(17, 218, 118);
  margin-top: 16px;
  font-family: "Secular One", sans-serif;
  border: 5px solid rgb(48, 46, 46);
  transition: 0.5s;
}

#btn:hover {
  border: 3px solid gold;
  background-color: black;
  color: rgb(17, 218, 118);
}

#content-container,
#container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
  margin-top: 16px;
  font-size: 35px;
}

#buttonAndInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
